<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
     <div class="card" >
    <div class="card-body">
      <h4 class="card-title">ReactJs</h4>
      <p class="card-text"> Welcome to the <%= name %> Page</p>
      <a href="https://nodejs.org/en/" class="card-link1">NodeJs</a>
      <a href="https://expressjs.com/en/4x/api.html#express" class="card-link"><%= title %> </a>
    </div>
    </div>
    <input type="text" placeholder="Enter
     Name"><%= name %> </input>
      <input type="text" placeholder="Enter LastName"><%= lastname %> </input>
      <button>GO</button>
  </body>
</html>
